// Place all the styles related to the api/v1/Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* iNDEX */
.collection-name {
	text-align: center;
}
.collection-list {
	#masonry-container {
		margin: 0px auto;
		width: 100%;
		.box {
			width: 453px;
			.store-image img {
				width: 100%;
			}
			.store-name {
				position: absolute;
				left: 0px;
				right: 0px;
				top: 35%;
				h1 {
					text-align: center;
					:hover {
						text-decoration: none !important;
					}
					a{
						color: #fff;
						font-size: 36px;
						font-weight: bold;
					}
				}
			}
		}
	}
}


/* SHOW */
.store_header {
	position: relative;
	text-align: center;
	width: 100%;
	top: 0px;
	.store_image {
		img {
			width: 100%;
		}
	}
	.store_title {
		color: #FFF;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 30%;
		h1 {
			font-size: 75px;
		}
	}
}
.store_body {
	font-size: 20px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
	.content {
		font-weight: bold;
		width: 65%;
		padding-right: 3%;
		border-right: solid 1px;
		border-color: #e9e9e9;
	}
	.meta {
		width: 35%;
		padding-left: 3%;
		font-size: 15px;
		color: #666;
		.icon {
			margin-right: 20px;
			line-height: inherit;
		}
		ul li {
			display: inline-flex;
		}
	}
}