// Place all the styles related to the api/v1/Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store_header {
	position: relative;
	text-align: center;
	width: 100%;
	top: 0px;
	.store_image {
		img {
			width: 100%;
		}
	}
	.store_title {
		color: #FFF;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 30%;
		h1 {
			font-size: 75px;
		}
	}
}
.store_body {
	font-size: 20px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
	.content {
		font-weight: bold;
		width: 65%;
		padding-right: 3%;
		border-right: solid 1px;
		border-color: #e9e9e9;
	}
	.meta {
		width: 35%;
		padding-left: 3%;
		font-size: 15px;
		color: #666;
		.icon {
			margin-right: 20px;
			line-height: inherit;
		}
		ul li {
			display: inline-flex;
		}
	}
}