<div class="static_page about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>I’ve been in London for two years and as my visa started coming to an end (yes, I’m an Australian on the two year Tier-5 visa), I had an idea to go and photograph all the places I spent a lot of time at during my stay here.</p>

			<p>I guess I thought it would be a neat way to wrap up how awesome the last two years have been. Even though I’ve now got to leave, I can look back at the places that essentially were the cornerstone of my life here.</p>

			<p>Things escalated and I ended up starting to want to not only take photographs, but add bylines as to why I liked each place so much. I’m always up for any reason to design a new website and thought why not categorise it all online somehow for other people to see.</p>

			<p>That way if anyone I know ends up visiting this awesome city I can already put them on the right path for places to go. I’ve had friends do that for me for other cities and usually always their recommendations make the best part of a trip.</p>

			<p>If you’re not around for long, I would highly recommend you at least visit the following places:</p>

			<p>
				<a href="">Ozone Coffee Prosters</a><br>
				<a href="">Workshop</a><br>
				<a href="">Caravan</a><br>
				<a href="">Sebright Arms</a><br>
				<a href="">BrewDog</a><br>
				<a href="">Le Mercury</a><br>
				<a href="">Columbia Road Flower Maket</a><br>
			</p>

			<p>If you have any ideas, complaints or insults please send them to <a href="">william@rainbird.me</a></p>
		</div>
	</div>
</div>