.container
	.static_page.FAQ
		%h3 This is clearly not the “Best of East London”. Why isn’t x place on this list?

		%p This website started out as just a catalogue of all my favourite places in East London that I wanted to share with others. Of course there’s going to be many amazing places that I haven’t been to. There’s also going to be places on here that you think are shit, but calling the website “myfavouriteplacesofeastlondon” was too long.

		%p This is just a solo project and I was never going to have enough time to go to every place in East London from Hackney and beyond. There may be room for this site to grow in the future, I guess I’ll just have to see what happens.

		%h3 Flat white isn’t in East London, can you explain this?

		%p Ok same as above, calling the website “my favourite spots of east, a bit north and one place in central London” would be a bitch to explain to people.

		%p If you think about it, if you live in Acton then Flat White technically is “East”. I don’t know why you’d live in Acton though.

		%h3 Why isn’t the Breakfast Club on here?

		%p Because it’s overrated and I have no idea why people bother standing in line for so long to go in there. There’s so much better out there.

		%h3 Are you going to add more places?

		%p Maybe, at the time of writing this page I have just over a month left. If I find some quality spots sure I’ll put them up.

		%h3 Ok, so you’re going back to Australia. Why can’t you stay?

		%p Because I work freelance I can’t sponsor myself. I couldn’t bribe a British girl to marry me in time either. But to be honest I’m looking forward to going back to Melbourne and finding sun again.

		%p To be fair the two year visa deal makes sense. If Australians could come here without a time limit, Clapham would overflow and every London household would end up having an Australian each as a pet.

		%p Or you know, you could just offer me a job.

		%h3 Can you get someone else to add more? Can I add more?

		%p Not sure yet, at the moment the only person I’d trust with adding to the site would be <a href="">@snarkle</a>. He has a great knowledge of London Beer & Coffee spots and takes a fantastic photo. However he just moved to Clapham. East London needs him back.

		%p 
			I have set this site up so you can easily add more places without having to do any code, so if you love taking photos and would be interesting in contributing to this website – 
			= link_to "get in touch", root_path

		%h3 Have you done any other cities?

		%p No, but I’d like to. Melbourne would be cool but already has Broadsheet. I think Brooklyn (NYC) would be great too – if only just for the photos alone.

		%p
			Again, this site has been built up as a template, so it could be easily cloned for other cities. If you’re from any hipsterville place like Berlin, San Francisco or Portland and want to create your own “Best Of” using this template, then
			= link_to "let me know", root_path


