.list
	- @categories.each do |category|
		%h1= category.name
		- Store.where(category_id: category.id).each do |store|
			= image_tag store.image.url(:thumb)
			%h3= link_to store.name, api_store_path(store)