/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*HEADER*/
/*ul.block, ul.inline, ol.inline {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.inline > li, ol.inline > li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.section-header {
	position: relative;
	> .title {
		text-align: center;
		> h1 {
			display: inline-block;
			width: 280px;
			text-align: center;
			padding: 0px;
			margin: 0px;
		}
	}
	> .menu {
		> .pull-left {
			width: 50%;
		}	
		> .pull-right {
			width: 50%;
		}
		ul {
			> li {
				padding: 16px;
			}
		}
		@media screen and (min-width: 500px) {
		    position: absolute;
		    left: 0px;
		    right: 0px;
		    top: 50%;
		    margin-top: -26px;
		    > .pull-left {
		    	padding-right: 150px;
		    }
		    > .pull-right {
		    	padding-left: 150px;
		    }
		}
	}
}
*/
.container-fluid {
	position: relative;
}
.navbar-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
} 

.navbar-menu {
	text-align: center;
	@media screen and (min-width: 900px) {
		left: 0px;
		right: 0px;
		top: 50%;
		position: absolute;
		ul {
			float: none !important;
		}
		ul {
			float: none !important;
		}
	}
	.inline {
		width: 50%;
		li {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}