/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*HEADER*/

.container-fluid {
	position: relative;
	:hover {
		color: #111;
		text-decoration: none !important;
	}
}
.navbar-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	color: #777;
} 

.navbar-menu {
	text-align: center;
	@media screen and (min-width: 900px) {
		left: 0px;
		right: 0px;
		top: 50%;
		position: absolute;
		top: 35px;
		.pull-left {
			padding-left: 150px;
		}
		.pull-right {
			padding-right: 150px;
		}
	}
	.inline {
		width: 50%;
		ul li {
			font-size: 22px;
			padding-left: 15px;
			padding-right: 15px;
			:hover {
				color: #111;
				text-decoration: none;
			}
			a {
				color: #777;
			}
		}
	}
}

