<div class="section-header">
  <div class="title">
    <h1>THE BEST OF <br/> EAST LONDON</h1> 
  </div>
  <div class="menu clearfix">
    <div class="pull-left">
      <ul class="inline pull-right">
        <li>LIST</li>
        <li>MAP</li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="inline pull-left">
        <li>ABOUT</li>
        <li>FAQ</li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>

<!-- # / %nav.navbar.navbar-default{:role => "navigation"}
# /   .container-fluid
# /     / Brand and toggle get grouped for better mobile display
# /     .navbar-header
# /       %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
# /         %span.sr-only Toggle navigation
# /         %span.icon-bar
# /         %span.icon-bar
# /         %span.icon-bar
# /       = link_to root_path, class: "navbar-brand, navbar-center" do
# /         %h1 
# /           THE BEST OF
# /           %br/
# /           EAST LONDON
# /     / Collect the nav links, forms, and other content for toggling
# /     #bs-example-navbar-collapse-1.collapse.navbar-collapse
# /       %ul.nav.navbar-nav
# /         %li= link_to "LIST", root_path
# /         %li= link_to "MAP", root_path
# /       %ul.nav.navbar-nav
# /         %li= link_to "FAQ", faq_path
# /         %li= link_to "ABOUT", about_path
 -->

